<div class="container" role="main">
  <div class="container-body">
    <div style="text-align: center;">
      <h1>Tasks</h1>
    </div>
    <button (click)="openDialogCreateTask()" mat-raised-button color="primary">+ Añadir tarea</button>
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
    <table mat-table [dataSource]="data" class="mat-elevation-z8 tablelist">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let task"> {{task.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let task"> {{task.title}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let task"> {{task.description}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Created at </th>
      <td mat-cell *matCellDef="let task"> {{task.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="">
        <button mat-icon-button color="basic" (click)="editTask()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTask()">
          <mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
